<div class="row footer">
  <div class="col-xs-4 text-center notice">
    <%= link_to '公告', '#' %>
  </div>
  <div class="col-xs-4 text-center">
    <%= link_to '课程表', schedules_path %>
  </div>
  <div class="col-xs-4 text-center">
    <% if current_user %>
      <%= link_to '我的', user_path(current_user) %>
    <% else %>
      <%= link_to '我的', login_path %>
    <% end %>
  </div>
</div>