<div class="items">
  <%= link_to new_course_path do %>
    <div class="item">
      <i class="fa fa-book" aria-hidden="true"></i>
      <span>新增课程</span>
    </div>
  <% end %>
  <hr>

  <%= link_to new_schedule_path do %>
      <div class="item">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <span>新增课程表</span>
      </div>
  <% end %>
</div>