@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker.min";
@import 'variables';
@import 'sessions';
@import 'week_schedules';


html {
  height: 100vh;
  color: $black;
  a {
    color: #2E2E2E;
  }
  .hidden {
    display: none;
  }
}


