.admin-week_schedules {
  .schedule-table {
    tbody {
      tr {
        td {
          color: white;
          width: 13%;
          height: 95px;
          vertical-align: middle;
          &.course-time {
            color: black;
            width: 9%;
          }
        }
      }
    }
  }


  .bootbox-body {
    .row {
      margin-bottom: 20px;
    }
    .cancel-button {
      margin-right: 20px;
    }
  }
}