.admin-week_schedules {
  .schedule-table {
    tbody {
      tr {
        td {
          color: white;
          width: 12.5%;
          height: 95px;
          vertical-align: middle;
          &.course-time {
            color: black;
          }
        }
      }
    }
  }

  .switch-schedule {
    position: fixed;
    bottom: 20%;
    right: 0;
    height: 80px;
    width: 30px;
    z-index: 1000;
    .last-week, .next-week {
      position: absolute;
      width: 30px;
      height: 30px;
      color: white;
      background-color: #40bafd;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .last-week {
      top: 0;
    }
    .next-week {
      bottom: 0;
    }
  }


  .bootbox-body {
    .row {
      margin-bottom: 20px;
    }
    .cancel-button, .destroy-button {
      margin-right: 20px;
    }
  }
}