@import "bootstrap-sprockets";
@import "bootstrap";
@import 'variables';
@import 'schedules';
@import 'sessions';
@import 'users';
@import 'date-time-picker.min';


html {
  height: 100%;
  color: $black;
  a {
    color: #2E2E2E;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  background-color: white;
  font-size: 1.3em;
}

