@import "bootstrap-sprockets";
@import "bootstrap";
@import 'variables';
@import 'schedules';
@import 'sessions';
@import 'users';
@import 'jtsage-datebox.min';
@import 'admin/week_schedules';
@import 'admin/sessions';


html {
  height: 100%;
  color: $black;
  a {
    color: #2E2E2E;
  }
}
body {
  height: 100vh;
}

.clear {
  clear: both;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  background-color: white;
  font-size: 1.3em;
}

