.users {
  .container-fluid {
    padding: 0;
    .footer {
      left: 15px;
    }
  }
  .admin-items {
    background-color: white;
    margin-bottom: 10px;
  }
  hr {
    margin:0 10px;
    padding: 0 10px;
  }
  background-color: #D3D0CF;
  .item-box {
    background-color: white;
    padding: 10px;
  }
}

#users-show {
  a {
    color: black;
  }
}