<!-- error messages -->
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'shares/error_messages', locals: { object: @course } %>
  </div>
</div>
<h3 class="text-center">新增课程</h3>
<%= render 'form' %>